<h2>About</h2>
<p>I am insatiably curious learner, studying both computer science and psychology. Computer science is a source of novel problems to study and solve, and an outlet for creativity. Psychology strives to answer many questions about our human experience and teaches the scientific framework for asking new ones.</p>
<p>I am an engaged teacher and an experienced leader. I've taught sailing for the last three years to students of all ages and trained two programming successors at the <a href="https://goldsmithtwins.waisman.wisc.edu/">Goldsmith Lab</a>.</p>
<p>I am a supportive team player. I played on a <a href="https://news.recsports.wisc.edu/unified-champs/">football team</a> alongside community members with intellectual disabilities and volunteer at a Madison food shelf.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/DillonOLeary">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="https://dillonoleary.github.io/documents/DillonOLeary_resume_2.4.19_web.pdf">Résumé</a>
  </li>
</ul>
